@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);/*
* Set variables
*/

:root {
  --clr-primary: #3399ff;
  --clr-danger: #dc3545;
  --clr-dark: #222327;
  --clr-shadow: #1a1a1a;
  --clr-white: #fff;
  --clr-success: #28A745;
  --fnt-lifecraft: LifeCraft;
  --fnt-poppins: "Poppins", sans-serif;
}

/*
* Fonts
*/

@font-face {
  font-family: LifeCraft;
  src: url("/fonts/LifeCraft_Font.ttf");
}

/*
* Base Values
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
* Styling
*/

body {
  min-height: 100vh;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172D42;
}

.headline {
  position: absolute;
  right: 5px;
  margin-top: 10px;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 55%;
  margin-top: 7%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

form {
  width: 60%;
}

.input {
  background-color: transparent;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid var(--clr-primary);
  outline: none;
  transition: 0.3s;
}

.input:hover {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.input:focus {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.submit {
  border-width: 1px;
  border-color: var(--clr-primary);
  background-color: transparent;
  padding: 10px;
  transition: 0.3s;
}

.submit:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
}

.category {
  display: flex;
  align-items: center;
}

.category::after {
  content: "";
  flex: 1 1 auto;
  margin-left: 1rem;
  height: 1px;
  background-color: var(--clr-white);
}

.group {
  display: table;
  width: 100%;
}

.group-item {
  display: table-cell;
}

.socials {
  bottom: 0;
  margin: auto;
  text-align: center;
}

.socials-github {
  background: #2c4762;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--clr-primary);
  text-align: left;
  padding: 8px;
}

.message-box {
  padding: 10px;
}

.warning {
  background-color: var(--clr-danger);
}

.success {
  background-color: var(--clr-success);
}

footer {
  position: absolute;
  bottom: 0;
  left: 10px;
}

/*
* Misc
*/

.life-craft {
  font-family: var(--fnt-lifecraft);
}

.poppins {
  font-family: var(--fnt-poppins);
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.mt-4 {
  margin-top: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-10 {
  margin-left: 10px;
}

.text-black {
  color: var(--clr-dark);
}

.text-white {
  color: var(--clr-white);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.fs-30 {
  font-size: 30px;
}

/*
* Feather
*/

.feather-social {
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.feater-social:hover {
  opacity: 0.7;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

