@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr-primary: #3399ff;
  --clr-dark: #222327;
  --clr-shadow: #1a1a1a;
  --clr-white: #fff;
}

body {
  min-height: 100vh;
  background-color: var(--clr-dark);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  position: absolute;
  width: 100vw;
}

.navigation {
  width: 400px;
  height: 70px;
  background: var(--clr-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style-type: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr-dark);
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr-dark);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--clr-primary);
  border-radius: 50%;
  border: 6px solid var(--clr-dark);
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr-dark);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr-dark);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.box {
  display: none;
  background-color: #18181b;
  border-top: 3px solid var(--clr-primary);
  border-radius: 5px;
  box-shadow: 10px 5px 5px var(--clr-shadow);
  padding: 30px;
  margin: 20px;
  max-width: 50vw;
  max-height: 50vh;
  min-width: 50vw;
  min-height: 50vh;
  overflow: auto;
  color: var(--clr-white);
  transition: 0.5s;
}

.box h2 {
  color: var(--clr-white);
}

.box p {
  color: var(--clr-white);
}

.activeBox {
  display: block !important;
}

.box .header {
  display: flex;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.box .button {
  margin-top: 3vh;
  display: flex;
}

.box .button .next .btn {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-white);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.box .button .prev .btn {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-white);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.box .button .prev .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.box .button .next .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.box .button .prev .btn span:before {
  content: "\AB";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.box .button .next .btn span:after {
  content: "\BB";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.box .button .next .btn:hover span {
  padding-right: 25px;
}

.box .button .prev .btn:hover span {
  padding-left: 25px;
}

.box .button .next .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.box .button .prev .btn:hover span:before {
  opacity: 1;
  right: 0;
}

.box .button .next {
  align-self: flex-end;
  margin-left: auto;
}

.box .button .prev {
  align-self: flex-start;
}

.mt-5 {
  margin-top: 5vh;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@media (max-width: 575.98px) {
  .menu {
    visibility: hidden;
  }
}

